out
dist
node_modules
.vscode-test/
*.vsix
resources/LayerDropState.zip
resources/LayerDropState
resources/OriginalFullDatasetState
resources/OriginalFullDatasetState.zip
resources/LayerDropState.zip
resources/LayerDropState.zip
